.btn {
  border: none;
  color: black;
  padding: 0.1rem;
  border-radius: 7%;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card {
  position: absolute;
  z-index:10;
  background-color: lightgrey;
  /* width: 9rem; */
  width: 100%;
  height: auto;
  margin-top: 0.5rem;
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  border-radius: 7%;
  overflow: scroll;
  text-align: center;
}

.remove-btn {
  cursor: pointer;
  padding-left: 0.7rem;
  margin-top: 0.4rem;
}
