.sidebar {
  z-index: 10;
  position: fixed;
  bottom: 0;
  /* width: 250px; */
  margin-top: 50px;
  height: 25%;
  /* left: 0; */
  background-color: #0e0d0db0;
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow: visible;
}

.title {
  color: white;
  /* font-size: 1.4rem; */
}

.button {
  border: none;
  color: white;
  padding: 0.3rem;
  /* border-radius: 10px; */
  cursor: pointer;
  /* margin-top: 1rem; */
  background-color: rgba(91, 228, 91, 0.685);
  font-size: 1rem;
}
input {
  border-radius: 30px;
  border: none;
  padding: 5px;
  margin: 5px;
}

.label-title {
  margin-bottom: 0.1rem;
}
