.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  left: 0;
  background-color: #8a8a8ab0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  color: black;
  font-size: 1.4rem;
}

.button {
  border: none;
  color: black;
  padding: 0.5rem;
  border-radius: 7%;
  cursor: pointer;
  margin-top: 1rem;
}
input {
  border-radius: 30px;
  border: none;
  padding: 10px;
  margin: 10px;
}

.label-title {
  margin-bottom: 0.3rem;
}
